<main>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h1>Home</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>